.Container1 {
  display: flex; 
  flex-direction: row;
  cursor: pointer;
  border: 0.5px solid black;
  width: 440px;
  text-align: left;
  vertical-align: middle;
  line-height: 40px; 
}

#Compon1 {
  width: 290px;
  border: 0.5px solid black;
}

#Compon2 {
  width: 150px;
  border: 0.5px solid black;
}

#Line {
  color: white;
  height: 10px;
}

.Container2 {
  display: flex;
  flex-direction: colomn; 
  justify-content: center;
  cursor: pointer;
  border: 1px solid green;
  width: 440px;
}

.Container3 {
  background-color: #00b300;
  cursor: pointer;
  border: 1px solid green;
  color: white;
  width: 440px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
}

div.Container3:hover {
  background-color: green;
}
  
#Logo {
  width: 30px;
  height: 30px;
}

.Container4 {
  color: white;
  background-color: #00b300;
  height: 70px;
}

div.Container4:hover {
  background-color: green;
}

.Container5 {
  border: 1.5px solid black;
  height: 70px;
}

div.Container5:hover {
  border: 1.5px solid green;
}

.Header {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.Input {
  height: 70px;
  background-color: green;
  text-align: center;
}

#Input2 {
  margin-left: 20px;
  margin-top: 15px;
  height: 40px;
  width: 200px;
}
  


